/* MAIN LAYOUT */
.main-layout {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
}

.main-layout>*:not(.full) {
	grid-column: 2;
}

.main-layout>.full {
	grid-column: 1 / -1;
}

.editor-layout.show {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* GALLERY-LAYOUT */
.gallery-layout.show {
	display: flex;
	flex-direction: column;
}

.memes-gallery-layout {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.saved-memes-layout.show {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}